{"openapi":"3.0.1","info":{"title":"Kalodata OpenAPI","description":"Welcome to the Kalodata OpenAPI documentation. This API provides comprehensive data analytics and insights for e-commerce platforms including TikTok, Amazon, and Shopee.\n\n## Authentication\n\nThis API uses API Key authentication:\n\n### API Key Authentication\n- Reach out to kalodata_us@kalowave.com to obtain your API key.\n- Add your API key in the `X-API-Key` header\n\n## Getting Started\n\n1. Click the **Authorize** button and enter your API key\n2. Try the API endpoints below\n3. Each endpoint shows required permissions and rate limits\n\n## Rate Limits\n\n- Different endpoints have different rate limits (shown in endpoint descriptions)\n- Rate limits are per API key/user account\n- Contact support if you need higher limits\n\n## Support\n\nFor technical support, please contact our API team at customerservice@kalodata.com","contact":{"name":"Kalodata API Team","url":"https://www.kalodata.com","email":"customerservice@kalodata.com"},"version":"1.0.0"},"servers":[{"url":"https://www.kalodata.com","description":"Server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"tiktok/category"},{"name":"tiktok/shop"},{"name":"tiktok/creator"},{"name":"tiktok/shop"},{"name":"tiktok/product"},{"name":"tiktok/video"},{"name":"tiktok/livestream"}],"paths":{"/openapi/v1/tiktok/video/rank":{"post":{"tags":["tiktok/video"],"summary":"Get video ranking list","description":"Retrieve ranking list of videos based on specified criteria and filters.\n\n**`date_range`**: window is capped at 30 days. Supports `lastDay`, `last7Day`, `last30Day`, a natural `yyyy-MM-dd~yyyy-MM-dd` (span ≤ 30 days), or a natural month `yyyy-MM`.\n\n**`sort_field.field`**: `revenue` (default), `views`, `revenue_growth_rate`, `ads_roas`, `video_id`, `video_title`, `belonged_creator_id`, `belonged_creator_handle`. Default sort is `revenue DESC`.","operationId":"videoRank_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoRankReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListVideoRankRes"}}}}},"security":[{"apiKeyAuth":[]}],"x-permits":10}},"/openapi/v1/tiktok/video/detail":{"post":{"tags":["tiktok/video"],"summary":"Get video details","description":"Retrieve detailed information for a specific video","operationId":"videoDetail_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoDetailReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVideoDetailRes"}}}}},"security":[{"apiKeyAuth":[]}],"x-permits":100}},"/openapi/v1/tiktok/video/url":{"post":{"tags":["tiktok/video"],"summary":"Get video URL","description":"Retrieve a CloudFront signed video URL by video_id. The URL expires after 5 minutes.","operationId":"videoUrl","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoUrlReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultVideoUrlRes"}}}}},"security":[{"apiKeyAuth":[]}],"x-permits":10}},"/openapi/v1/tiktok/product/images":{"post":{"tags":["tiktok/product"],"summary":"Get product image URLs","description":"Retrieve all product images by product_id. URLs are CloudFront signed URLs that expire after 5 minutes.","operationId":"productImages","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductImagesReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultProductImagesRes"}}}}},"security":[{"apiKeyAuth":[]}],"x-permits":10}},"/openapi/v1/tiktok/product/comment/insight":{"post":{"tags":["tiktok/product"],"summary":"Get TikTok product comment insight","description":"Retrieve cached comment insight for a TikTok product. Charges 1 credit only when insight data exists and `cached_at` is newer than the last charge for this user and product. Failures and timeouts are not charged. Rate limit is 100 requests per 10 seconds.","operationId":"productCommentInsight","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductCommentInsightReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultProductCommentInsightRes"}}}}},"security":[{"apiKeyAuth":[]}],"x-permits":100}},"/openapi/v1/tiktok/product/analysis":{"post":{"tags":["tiktok/product"],"summary":"Get TikTok product selling-point analysis","description":"Retrieve cached selling-point highlights and attributes for a TikTok product. When cached analysis is missing, generation is triggered asynchronously; this request still returns failure and is not charged. Charges 0.1 credit only when analysis data exists. Rate limit is 100 requests per 10 seconds.","operationId":"productAnalysis","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductAnalysisReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultProductAnalysisRes"}}}}},"security":[{"apiKeyAuth":[]}],"x-permits":100}},"/openapi/v1/tiktok/creator/avatar-images":{"post":{"tags":["tiktok/creator"],"summary":"Get creator avatar URLs","description":"Retrieve CloudFront signed avatar URLs for up to 100 creator IDs. URLs expire after 5 minutes.","operationId":"creatorAvatarImages","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatorAvatarImagesReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultCreatorAvatarImagesRes"}}}}},"security":[{"apiKeyAuth":[]}],"x-permits":10}},"/openapi/v1/tiktok/shop/rank":{"post":{"tags":["tiktok/shop"],"summary":"Get shop ranking list","description":"Retrieve ranking list of shops based on specified criteria and filters.\n\n**`date_range`**: window is capped at 30 days. Supports `lastDay`, `last7Day`, `last30Day`, a natural `yyyy-MM-dd~yyyy-MM-dd` (span ≤ 30 days), or a natural month `yyyy-MM`.\n\n**`sort_field.field`**: `revenue` (default), `sales_volumn`, `revenue_growth_rate`, `unit_price`, `shop_type`, `affiliate_revenue`, `self_promotion_revenue`, `shopping_mall_revenue`, `on_sell_product_count`, `rank`, `shop_id`, `shop_name`. Default sort is `revenue DESC`.","operationId":"shopRank_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShopRankReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListShopRankRes"}}}}},"security":[{"apiKeyAuth":[]}],"x-permits":10}},"/openapi/v1/tiktok/shop/detail":{"post":{"tags":["tiktok/shop"],"summary":"Get shop details","description":"Retrieve detailed information for a specific shop","operationId":"shopDetail_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShopDetailReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultShopDetailRes"}}}}},"security":[{"apiKeyAuth":[]}],"x-permits":100}},"/openapi/v1/tiktok/product/rank":{"post":{"tags":["tiktok/product"],"summary":"Get product ranking list","description":"Retrieve ranking list of products based on specified criteria and filters.\n\n**`date_range`**: window is capped at 30 days. Supports `lastDay`, `last7Day`, `last30Day`, a natural `yyyy-MM-dd~yyyy-MM-dd` (span ≤ 30 days), or a natural month `yyyy-MM`.\n\n**`sort_field.field`**: `revenue` (default), `commission_rate`, `revenue_growth_rate`, `sales_volumn`, `unit_price`, `launch_date`, `live_revenue`, `video_revenue`, `showcase_revenue`, `product_id`, `product_name`. Default sort is `revenue DESC`.","operationId":"productRank_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductRankReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListProductRankRes"}}}}},"security":[{"apiKeyAuth":[]}],"x-permits":10}},"/openapi/v1/tiktok/product/detail":{"post":{"tags":["tiktok/product"],"summary":"Get product details","description":"Retrieve detailed information for a specific product. The response includes product_description (structured text/image blocks; empty array when unavailable).","operationId":"productDetail_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductDetailReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultProductDetailRes"}}}}},"security":[{"apiKeyAuth":[]}],"x-permits":100}},"/openapi/v1/tiktok/livestream/rank":{"post":{"tags":["tiktok/livestream"],"summary":"Get livestream ranking list","description":"Retrieve ranking list of livestreams based on specified criteria and filters.\n\n**`date_range`**: window is capped at 30 days. Supports `lastDay`, `last7Day`, `last30Day`, a natural `yyyy-MM-dd~yyyy-MM-dd` (span ≤ 30 days), or a natural month `yyyy-MM`.\n\n**`sort_field.field`**: `revenue` (default), `unit_price`, `views`, `livestream_start_time`, `livestream_end_time`, `livestream_duration`, `livestream_id`, `livestream_title`, `creator_id`, `creator_handle`. Default sort is `revenue DESC`.","operationId":"livestreamRank_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LiveStreamRankReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListLiveStreamRankRes"}}}}},"security":[{"apiKeyAuth":[]}],"x-permits":10}},"/openapi/v1/tiktok/livestream/detail":{"post":{"tags":["tiktok/livestream"],"summary":"Get livestream details","description":"Retrieve detailed information for a specific livestream","operationId":"livestreamDetail_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LiveStreamDetailReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultLiveStreamDetailRes"}}}}},"security":[{"apiKeyAuth":[]}],"x-permits":100}},"/openapi/v1/credit/logs":{"post":{"tags":["credit"],"summary":"Query credit consume logs","description":"Query credit consume details for the user bound to the API key. This endpoint is free of charge and limited to 10 requests per 10 seconds.\n\nOnly consume records (`quantity < 0`) are returned, where the bound user is either the deduction account or the consumer account. `sourceType` accepts aggregated consume type English names only.","operationId":"queryLogs","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditLogOpenApiReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultPageCreditLogOpenApiRes"}}}}},"security":[{"apiKeyAuth":[]}],"x-permits":10}},"/openapi/v1/tiktok/creator/rank":{"post":{"tags":["tiktok/creator"],"summary":"Get creator ranking list","description":"Retrieve ranking list of creators based on specified criteria and filters.\n\n**`date_range`**: window is capped at 30 days. Supports `lastDay`, `last7Day`, `last30Day`, a natural `yyyy-MM-dd~yyyy-MM-dd` (span ≤ 30 days), or a natural month `yyyy-MM`.\n\n**`sort_field.field`**: `revenue` (default), `revenue_growth_rate`, `content_views`, `creator_followers`, `sales_volumn`, `video_revenue`, `live_revenue`, `creator_id`, `creator_nickname`, `creator_handle`. Default sort is `revenue DESC`.","operationId":"creatorRank_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatorRankReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListCreatorRankRes"}}}}},"security":[{"apiKeyAuth":[]}],"x-permits":10}},"/openapi/v1/tiktok/creator/detail":{"post":{"tags":["tiktok/creator"],"summary":"Get creator details","description":"Retrieve detailed information for a specific creator","operationId":"creatorDetail_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatorDetailReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultCreatorDetailRes"}}}}},"security":[{"apiKeyAuth":[]}],"x-permits":500}},"/openapi/v1/tiktok/category/rank":{"post":{"tags":["tiktok/category"],"summary":"Get category ranking list","description":"Retrieve ranking list of categories based on specified criteria and filters.\n\n**`date_range`**: only `last7Day`, `last30Day`, `last90Day`, `last180Day`, `last365Day` are supported (natural date ranges and months are NOT accepted here).\n\n**`sort_field.field`**: `revenue` (default), `revenue_growth_rate`, `top3_shop_revenue_ratio`, `average_revenue`, `rank`, `category_id`, `category_name`. Default sort is `revenue DESC`.","operationId":"categoryRank_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRankReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListCategoryRankRes"}}}}},"security":[{"apiKeyAuth":[]}],"x-permits":10}},"/openapi/v1/tiktok/category/detail":{"post":{"tags":["tiktok/category"],"summary":"Get category details","description":"Retrieve detailed information for a specific category.\n\n**`date_range`**: only `last7Day`, `last30Day`, `last90Day`, `last180Day`, `last365Day` are supported (natural date ranges and months are NOT accepted here).","operationId":"categoryDetail_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryDetailReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultCategoryDetailRes"}}}}},"security":[{"apiKeyAuth":[]}],"x-permits":100}},"/openapi/v1/credit/balance":{"get":{"tags":["credit"],"summary":"Query credit balance","description":"Query remaining display points for the user bound to the API key. This endpoint is free of charge and limited to 10 requests per 10 seconds.\n\nIf the bound user is a sub-account, the response includes total, main-account and sub-account points. If the bound user is a main account, only total and main-account points are returned.","operationId":"queryBalance","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultCreditBalanceRes"}}}}},"security":[{"apiKeyAuth":[]}],"x-permits":10}}},"components":{"schemas":{"SortFieldReq":{"type":"object","properties":{"field":{"type":"string","description":"Sort field name. Any numeric field returned by the endpoint is supported (e.g. revenue, sales_volumn, revenue_growth_rate).","example":"revenue"},"type":{"type":"string","description":"Sort direction.","example":"DESC","enum":["ASC","DESC"]}},"description":"Sort spec. `field` accepts any numeric field from the response; `type` is ASC or DESC. Defaults to `{\"field\":\"revenue\",\"type\":\"DESC\"}`."},"VideoRankReq":{"required":["currency","date_range","language","region","sort_field"],"type":"object","properties":{"region":{"type":"string","description":"Data country code, e.g. US, BR, MX, ID, JP, MY, PH, SG, TH, VN, GB, ES, DE, FR, IT.","example":"US","enum":["US","BR","MX","ID","JP","MY","PH","SG","TH","VN","GB","ES","DE","FR","IT"]},"language":{"type":"string","description":"Language for text fields in the response. Currently supports zh-CN, en-US, id-ID, th-TH, vi-VN, es-ES, ja-JP, pt-BR, ko-KR, fr-FR.","example":"en-US","enum":["zh-CN","en-US","id-ID","th-TH","vi-VN","es-ES","ja-JP","pt-BR","ko-KR","fr-FR"]},"currency":{"type":"string","description":"Currency unit for revenue and price fields. Currently supports CNY, USD, IDR, VND, THB, MYR, JPY, PHP, GBP, SGD, MXN, EUR, BRL.","example":"USD","enum":["CNY","USD","IDR","VND","THB","MYR","JPY","PHP","GBP","SGD","MXN","EUR","BRL"]},"date_range":{"type":"string","description":"Date range. Accepts named ranges (lastDay, last7Day, last30Day, last60Day, last90Day, last180Day, last365Day), a natural date range in `yyyy-MM-dd~yyyy-MM-dd` form, or a natural month `yyyy-MM`. Some endpoints restrict this set — see the per-endpoint description.","example":"last7Day"},"sort_field":{"$ref":"#/components/schemas/SortFieldReq"},"rank_field":{"type":"string","description":"Legacy shortcut for the sort field name; prefer `sort_field`. Ignored when `sort_field` is set.","example":"revenue"},"asc":{"type":"boolean","description":"Legacy ascending flag paired with `rank_field`. Default false (DESC).","example":false},"page_size":{"type":"integer","description":"Page size. Maximum 100 records per query. Default 10.","format":"int32","example":20},"page_number":{"type":"integer","description":"Page number, starting at 1. ","format":"int32","example":1},"category_ids":{"type":"array","description":"Restrict results to videos in the given category IDs.","example":["700645","223"],"items":{"type":"string","description":"Restrict results to videos in the given category IDs.","example":"[\"700645\",\"223\"]"}},"shop_id":{"type":"string","description":"Restrict results to videos promoting the given shop's products.","example":"7494965300835814281"},"creator_id":{"type":"string","description":"Restrict results to videos published by the given creator.","example":"7146196785349985326"},"product_id":{"type":"string","description":"Restrict results to videos mounting the given product.","example":"1729587769570529799"},"revenue_range":{"type":"string","description":"Revenue range filter, in the same currency as the request `currency`. Also supports `<100` / `>1000` forms.","example":"1-100"},"followers_range":{"type":"string","description":"Follower count range of the video's creator.","example":"1000-10000"},"ads_roas":{"type":"string","description":"Estimated ad ROAS filter. Accepts a single value, a range (`1-2.5`), or open-ended (`<1`, `>5`).","example":"1-2.5"},"keyword":{"type":"string","description":"Keyword for video search","example":"fashion"},"is_ai_video":{"type":"integer","description":"Filter videos by AI-generated flag. 1: only AI videos; 0: only non-AI videos; null: no filter","format":"int32","example":1},"views_range":{"type":"string","description":"Play count (sum in the selected time range) filter. Same syntax as the website: `<10000`, `10000-100000`, `>1000000`.","example":"<10000"},"publish_date_range":{"type":"string","description":"Video publish time filter, relative days. Same syntax as the website: `<3` = within 3 days, `<7` = within 7 days, `<30` = within 30 days.","example":"<7"}}},"ResultListVideoRankRes":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/VideoRankRes"}},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"VideoRankRes":{"type":"object","properties":{"video_id":{"type":"string","description":"Video ID","example":"7627814494370057503"},"video_title":{"type":"string","description":"Video title content","example":"Sweet girl essential!"},"belonged_creator_id":{"type":"string","description":"Creator ID that the video belongs to","example":"7434060602055984170"},"belonged_creator_handle":{"type":"string","description":"Creator handle that the video belongs to","example":"techreviewer"},"revenue":{"type":"number","description":"Revenue of the video under specified date and category","format":"double","example":3500.25},"views":{"type":"integer","description":"Play count (sum of plays in the selected time range)","format":"int32","example":250000},"revenue_growth_rate":{"type":"number","description":"Revenue growth rate of the video","format":"double","example":15.5},"ads_roas":{"type":"number","description":"ROAS (Return on Ad Spend) of the video within the selected time range","format":"double","example":4.2},"digg_count":{"type":"integer","description":"Like count","format":"int32","example":15000},"share_count":{"type":"integer","description":"Share count","format":"int32","example":2500},"comment_count":{"type":"integer","description":"Comment count","format":"int32","example":800},"ad_revenue_ratio":{"type":"number","description":"Ad revenue ratio","format":"double","example":0.35},"ad_view_ratio":{"type":"number","description":"Ad view ratio","format":"double","example":0.12},"creator_debut":{"type":"string","description":"Video debut time","example":"2024-01-15"},"ad":{"type":"integer","description":"Whether this video is an ad video. 1 = ad, 0 = organic.","format":"int32","example":1,"enum":[0,1]},"ai_video":{"type":"integer","description":"Whether the video is AI-generated (1: yes, 0: no)","format":"int32","example":1},"publish_date":{"type":"string","description":"Video publish time, in the region's timezone, format yyyy/MM/dd HH:mm:ss","example":"2026/06/17 18:29:27"}}},"VideoDetailReq":{"required":["currency","date_range","language","region","video_id"],"type":"object","properties":{"region":{"type":"string","description":"Data country code, e.g. US, BR, MX, ID, JP, MY, PH, SG, TH, VN, GB, ES, DE, FR, IT.","example":"US","enum":["US","BR","MX","ID","JP","MY","PH","SG","TH","VN","GB","ES","DE","FR","IT"]},"language":{"type":"string","description":"Language for text fields in the response. Currently supports zh-CN, en-US, id-ID, th-TH, vi-VN, es-ES, ja-JP, pt-BR, ko-KR, fr-FR.","example":"en-US","enum":["zh-CN","en-US","id-ID","th-TH","vi-VN","es-ES","ja-JP","pt-BR","ko-KR","fr-FR"]},"currency":{"type":"string","description":"Currency unit for revenue and price fields. Currently supports CNY, USD, IDR, VND, THB, MYR, JPY, PHP, GBP, SGD, MXN, EUR, BRL.","example":"USD","enum":["CNY","USD","IDR","VND","THB","MYR","JPY","PHP","GBP","SGD","MXN","EUR","BRL"]},"date_range":{"type":"string","description":"Date range. Accepts named ranges (lastDay, last7Day, last30Day, last60Day, last90Day, last180Day, last365Day), a natural date range in `yyyy-MM-dd~yyyy-MM-dd` form, or a natural month `yyyy-MM`. Some endpoints restrict this set — see the per-endpoint description.","example":"last7Day"},"video_id":{"type":"string","description":"Video ID to query.","example":"7404191282148511007"},"need_extra":{"type":"boolean","description":"Need Extra Info","example":false}}},"ResultVideoDetailRes":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/VideoDetailRes"},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"VideoDetailRes":{"type":"object","properties":{"video_id":{"type":"string","description":"Video ID","example":"7627814494370057503"},"video_region":{"type":"string","description":"Video country/region","example":"US"},"video_title":{"type":"string","description":"Video title","example":"Product Review: Best Tech of 2024"},"belonged_creator_id":{"type":"string","description":"Creator ID of the video","example":"7434060602055984170"},"belonged_creator_handle":{"type":"string","description":"Creator handle of the video","example":"techreviewer"},"product_number":{"type":"integer","description":"Number of products attached to the video","format":"int32","example":5},"revenue":{"type":"number","description":"Revenue of the video within the selected time range","format":"double","example":2500.75},"sales_volumn":{"type":"integer","description":"Sales volume of the video within the selected time range","format":"int32","example":45},"views":{"type":"integer","description":"Views of the video within the selected time range","format":"int32","example":150000},"video_gpm":{"type":"number","description":"Revenue per thousand views (GPM) of the video within the selected time range","format":"double","example":16.67},"ads_views":{"type":"integer","description":"Ad views of the video","format":"int32","example":12000},"ads_roas":{"type":"number","description":"ROAS (Return on Ad Spend) of the video ads","format":"double","example":3.5},"ads_period":{"type":"integer","description":"Ad campaign duration in days within the selected time range","format":"int32","example":7},"digg_count":{"type":"integer","description":"Like count","format":"int32","example":15000},"share_count":{"type":"integer","description":"Share count","format":"int32","example":2500},"comment_count":{"type":"integer","description":"Comment count","format":"int32","example":800},"ad_cpa":{"type":"number","description":"Single transaction advertising cost of the video under specified date","format":"double","example":3500.25},"revenue_trend":{"type":"array","description":"revenue trend within the selected time range (day-by-day series in the response currency)","example":[50000.0,62000.0],"items":{"type":"number","description":"revenue trend within the selected time range (day-by-day series in the response currency)","format":"double"}},"ad":{"type":"integer","description":"Whether this video is an ad video. 1 = ad, 0 = organic.","format":"int32","example":1,"enum":[0,1]},"ad_view_ratio":{"type":"number","description":"Ad view ratio","format":"double","example":0.12},"duration":{"type":"number","description":"duration(s)","format":"double","example":12},"ai_video":{"type":"integer","description":"Whether the video is AI-generated (1: yes, 0: no)","format":"int32","example":1}}},"VideoUrlReq":{"required":["video_id"],"type":"object","properties":{"video_id":{"type":"string","description":"TikTok video ID","example":"7666138519575743757"}}},"ResultVideoUrlRes":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/VideoUrlRes"},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"VideoUrlRes":{"type":"object","properties":{"video_id":{"type":"string","description":"TikTok video ID","example":"7666138519575743757"},"video_url":{"type":"string","description":"CloudFront signed video URL"},"expires_at":{"type":"string","description":"UTC time when the video URL expires","format":"date-time","example":"2026-08-11T12:05:00Z"}}},"UserCollectionQueryListReq":{"required":["currency","language","region","type"],"type":"object","properties":{"region":{"type":"string","description":"Data country code, e.g. US, BR, MX, ID, JP, MY, PH, SG, TH, VN, GB, ES, DE, FR, IT.","example":"US","enum":["US","BR","MX","ID","JP","MY","PH","SG","TH","VN","GB","ES","DE","FR","IT"]},"language":{"type":"string","description":"Language for text fields in the response. Currently supports zh-CN, en-US, id-ID, th-TH, vi-VN, es-ES, ja-JP, pt-BR, ko-KR, fr-FR.","example":"en-US","enum":["zh-CN","en-US","id-ID","th-TH","vi-VN","es-ES","ja-JP","pt-BR","ko-KR","fr-FR"]},"currency":{"type":"string","description":"Currency unit for revenue and price fields. Currently supports CNY, USD, IDR, VND, THB, MYR, JPY, PHP, GBP, SGD, MXN, EUR, BRL.","example":"USD","enum":["CNY","USD","IDR","VND","THB","MYR","JPY","PHP","GBP","SGD","MXN","EUR","BRL"]},"type":{"type":"integer","description":"Collection type: 1=video, 2=video script","format":"int32","example":1}}},"ResultListObject":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"type":"object"}},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"FocusShopQueryListReq":{"required":["currency","date_range","language","region","sort_field"],"type":"object","properties":{"region":{"type":"string","description":"Data country code, e.g. US, BR, MX, ID, JP, MY, PH, SG, TH, VN, GB, ES, DE, FR, IT.","example":"US","enum":["US","BR","MX","ID","JP","MY","PH","SG","TH","VN","GB","ES","DE","FR","IT"]},"language":{"type":"string","description":"Language for text fields in the response. Currently supports zh-CN, en-US, id-ID, th-TH, vi-VN, es-ES, ja-JP, pt-BR, ko-KR, fr-FR.","example":"en-US","enum":["zh-CN","en-US","id-ID","th-TH","vi-VN","es-ES","ja-JP","pt-BR","ko-KR","fr-FR"]},"currency":{"type":"string","description":"Currency unit for revenue and price fields. Currently supports CNY, USD, IDR, VND, THB, MYR, JPY, PHP, GBP, SGD, MXN, EUR, BRL.","example":"USD","enum":["CNY","USD","IDR","VND","THB","MYR","JPY","PHP","GBP","SGD","MXN","EUR","BRL"]},"date_range":{"type":"string","description":"Date range. Accepts named ranges (lastDay, last7Day, last30Day, last60Day, last90Day, last180Day, last365Day), a natural date range in `yyyy-MM-dd~yyyy-MM-dd` form, or a natural month `yyyy-MM`. Some endpoints restrict this set — see the per-endpoint description.","example":"last7Day"},"sort_field":{"$ref":"#/components/schemas/SortFieldReq"},"rank_field":{"type":"string","description":"Legacy shortcut for the sort field name; prefer `sort_field`. Ignored when `sort_field` is set.","example":"revenue"},"asc":{"type":"boolean","description":"Legacy ascending flag paired with `rank_field`. Default false (DESC).","example":false},"page_size":{"type":"integer","description":"Page size. Maximum 100 records per query. Default 10.","format":"int32","example":20},"page_number":{"type":"integer","description":"Page number, starting at 1. ","format":"int32","example":1},"group_id":{"type":"string","description":"Group ID for filtering focused shops","example":"group123"},"keyword":{"type":"string","description":"Keyword for searching shops","example":"shop name"}}},"FocusShopQueryListRes":{"type":"object","properties":{"shop_id":{"type":"string","description":"Shop ID"},"shop_name":{"type":"string","description":"Shop name"},"revenue":{"type":"number","description":"Total revenue","format":"double"},"affiliate_revenue":{"type":"number","description":"Affiliate revenue","format":"double"},"self_promotion_revenue":{"type":"number","description":"Self promotion revenue","format":"double"},"shopping_mall_revenue":{"type":"number","description":"Shopping mall revenue","format":"double"},"revenue_trend":{"type":"array","description":"Revenue trend by day","items":{"type":"number","description":"Revenue trend by day","format":"double"}},"groupList":{"type":"array","description":"Group list (group_id, group_name)","items":{"type":"object","additionalProperties":{"type":"object","description":"Group list (group_id, group_name)"},"description":"Group list (group_id, group_name)"}}}},"ResultListFocusShopQueryListRes":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/FocusShopQueryListRes"}},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"ProductPicSearchRankReq":{"required":["currency","date_range","language","region","sort_field"],"type":"object","properties":{"region":{"type":"string","description":"Data country code, e.g. US, BR, MX, ID, JP, MY, PH, SG, TH, VN, GB, ES, DE, FR, IT.","example":"US","enum":["US","BR","MX","ID","JP","MY","PH","SG","TH","VN","GB","ES","DE","FR","IT"]},"language":{"type":"string","description":"Language for text fields in the response. Currently supports zh-CN, en-US, id-ID, th-TH, vi-VN, es-ES, ja-JP, pt-BR, ko-KR, fr-FR.","example":"en-US","enum":["zh-CN","en-US","id-ID","th-TH","vi-VN","es-ES","ja-JP","pt-BR","ko-KR","fr-FR"]},"currency":{"type":"string","description":"Currency unit for revenue and price fields. Currently supports CNY, USD, IDR, VND, THB, MYR, JPY, PHP, GBP, SGD, MXN, EUR, BRL.","example":"USD","enum":["CNY","USD","IDR","VND","THB","MYR","JPY","PHP","GBP","SGD","MXN","EUR","BRL"]},"date_range":{"type":"string","description":"Date range. Accepts named ranges (lastDay, last7Day, last30Day, last60Day, last90Day, last180Day, last365Day), a natural date range in `yyyy-MM-dd~yyyy-MM-dd` form, or a natural month `yyyy-MM`. Some endpoints restrict this set — see the per-endpoint description.","example":"last7Day"},"sort_field":{"$ref":"#/components/schemas/SortFieldReq"},"rank_field":{"type":"string","description":"Legacy shortcut for the sort field name; prefer `sort_field`. Ignored when `sort_field` is set.","example":"revenue"},"asc":{"type":"boolean","description":"Legacy ascending flag paired with `rank_field`. Default false (DESC).","example":false},"page_size":{"type":"integer","description":"Page size. Maximum 100 records per query. Default 10.","format":"int32","example":20},"page_number":{"type":"integer","description":"Page number, starting at 1. ","format":"int32","example":1},"category_ids":{"type":"array","description":"Restrict results to the given category IDs.","example":["601450"],"items":{"type":"string","description":"Restrict results to the given category IDs.","example":"[\"601450\"]"}},"shop_id":{"type":"string","description":"Restrict results to the given shop.","example":"7495634116320922282"},"creator_id":{"type":"string","description":"Restrict results to products promoted by the given creator. Combined with `shop_id` returns the creator's list for that shop.","example":"7495634116320922282"},"video_id":{"type":"string","description":"Return the products mounted on the given video.","example":"7495634116320922282"},"livestream_id":{"type":"string","description":"Return the products mounted in the given live stream.","example":"7495634116320922282"},"revenue_range":{"type":"string","description":"Revenue range filter, in the same currency as the request `currency`. Also supports `<10` / `>1` forms.","example":"1-10"},"is_affiliate":{"type":"integer","description":"Affiliate-program filter. 0 = non-affiliate only, 1 = affiliate only.","format":"int32","example":1,"enum":[0,1]},"commission_rate":{"type":"string","description":"Commission rate filter for affiliate products. Accepts range (`15-35`), open-ended (`<10`, `>=30`), or a single ratio.","example":"15-35"},"is_tts_product":{"type":"integer","description":"TTS (Tiktok fully-managed) product filter. 1 = fully managed only, 0 = self-fulfilled only.","format":"int32","example":1,"enum":[0,1]},"unit_price_range":{"type":"string","description":"Product unit-price range filter.","example":"1-1000"},"need_all":{"type":"boolean","description":"If true, include products that have no sales in the selected period. Default false (sales-only).","example":false},"delivery_type":{"type":"string","description":"Delivery mode filter. `local` = domestic fulfillment, `global` = cross-border.","example":"local","enum":["local","global"]},"launch_date":{"type":"string","description":"Days since product launch. <3 = within 3 days, <7 = within 7 days, >30 = older than 30 days.","example":"<7","enum":["<3","<7",">30"]},"need_image":{"type":"integer","description":"Whether main image URL is needed: 0-not needed (default), 1-return official URL, 2-return kalo_data image URL (paid service required)","format":"int32","example":1},"keyword":{"type":"string","description":"Keyword search","example":"mobile phone"},"need_extra":{"type":"boolean","description":"Need Extra Info,such as seller name, SKU quantity.","example":false},"pic_path":{"type":"string"}}},"ProductRankRes":{"type":"object","properties":{"product_id":{"type":"string","description":"Product ID","example":"1729508370969629931"},"product_name":{"type":"string","description":"Product name","example":"Wireless Bluetooth Headphones"},"revenue":{"type":"number","description":"Revenue completed under specified conditions","format":"double","example":8500.5},"commission_rate":{"type":"number","description":"Product commission rate, updated daily for top products","format":"double","example":15.0},"revenue_growth_rate":{"type":"number","description":"Product revenue growth rate","format":"double","example":25.8},"sales_volumn":{"type":"integer","description":"Sales volume of the product within the selected time range","format":"int32","example":340},"unit_price":{"type":"number","description":"Unit price of the product within the selected time range","format":"double","example":25.0},"live_revenue":{"type":"number","description":"Livestream revenue of the product within the selected time range","format":"double","example":1200.0},"video_revenue":{"type":"number","description":"Video revenue of the product within the selected time range","format":"double","example":800.0},"showcase_revenue":{"type":"number","description":"show case revenue","format":"double","example":500.0},"launch_date":{"type":"string","description":"Product launch date","example":"2024-01-15"},"master_image_url":{"type":"string","description":"Main image URL","example":"https://p16-oec-ttp.tiktokcdn-us.com/tos-useast5-i-omjb5zjo8w-tx/29510943b3664843abfd17e5371edd44~tplv-omjb5zjo8w-resize-webp:800:800.jpeg"},"seller_id":{"type":"string","description":"Seller Id","example":"7495514739648989419"},"seller_name":{"type":"string","description":"Seller name","example":"medicube US Store"},"sku_count":{"type":"string","description":"Sku Cnt","example":"2"}}},"ResultListProductRankRes":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ProductRankRes"}},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"ResultMapStringString":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","additionalProperties":{"type":"string"}},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"ProductImagesReq":{"required":["product_id"],"type":"object","properties":{"product_id":{"type":"string","description":"TikTok product ID","example":"1729508370969629931"}}},"ProductImagesRes":{"type":"object","properties":{"product_id":{"type":"string","description":"TikTok product ID","example":"1729508370969629931"},"images":{"type":"array","description":"CloudFront signed image URLs","items":{"type":"string","description":"CloudFront signed image URLs"}},"expires_at":{"type":"string","description":"UTC time when all image URLs expire","format":"date-time","example":"2026-07-22T12:05:00Z"}}},"ResultProductImagesRes":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/ProductImagesRes"},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"FocusProductQueryListReq":{"required":["currency","date_range","language","region","sort_field"],"type":"object","properties":{"region":{"type":"string","description":"Data country code, e.g. US, BR, MX, ID, JP, MY, PH, SG, TH, VN, GB, ES, DE, FR, IT.","example":"US","enum":["US","BR","MX","ID","JP","MY","PH","SG","TH","VN","GB","ES","DE","FR","IT"]},"language":{"type":"string","description":"Language for text fields in the response. Currently supports zh-CN, en-US, id-ID, th-TH, vi-VN, es-ES, ja-JP, pt-BR, ko-KR, fr-FR.","example":"en-US","enum":["zh-CN","en-US","id-ID","th-TH","vi-VN","es-ES","ja-JP","pt-BR","ko-KR","fr-FR"]},"currency":{"type":"string","description":"Currency unit for revenue and price fields. Currently supports CNY, USD, IDR, VND, THB, MYR, JPY, PHP, GBP, SGD, MXN, EUR, BRL.","example":"USD","enum":["CNY","USD","IDR","VND","THB","MYR","JPY","PHP","GBP","SGD","MXN","EUR","BRL"]},"date_range":{"type":"string","description":"Date range. Accepts named ranges (lastDay, last7Day, last30Day, last60Day, last90Day, last180Day, last365Day), a natural date range in `yyyy-MM-dd~yyyy-MM-dd` form, or a natural month `yyyy-MM`. Some endpoints restrict this set — see the per-endpoint description.","example":"last7Day"},"sort_field":{"$ref":"#/components/schemas/SortFieldReq"},"rank_field":{"type":"string","description":"Legacy shortcut for the sort field name; prefer `sort_field`. Ignored when `sort_field` is set.","example":"revenue"},"asc":{"type":"boolean","description":"Legacy ascending flag paired with `rank_field`. Default false (DESC).","example":false},"page_size":{"type":"integer","description":"Page size. Maximum 100 records per query. Default 10.","format":"int32","example":20},"page_number":{"type":"integer","description":"Page number, starting at 1. ","format":"int32","example":1},"group_id":{"type":"string","description":"Group ID for filtering focused products","example":"group123"},"keyword":{"type":"string","description":"Keyword for searching products","example":"mobile phone"}}},"FocusProductQueryListRes":{"type":"object","properties":{"product_id":{"type":"string","description":"Product ID","example":"product123"},"product_name":{"type":"string","description":"Product title","example":"Wireless Bluetooth Headphones"},"video_revenue":{"type":"number","description":"Video revenue","format":"double","example":1500.5},"live_revenue":{"type":"number","description":"Live stream revenue","format":"double","example":2500.75},"shopping_mall_revenue":{"type":"number","description":"Shopping mall revenue","format":"double","example":800.25},"revenue":{"type":"number","description":"Total revenue","format":"double","example":4801.5},"sale":{"type":"integer","description":"Sales volume","format":"int32","example":340},"average_price":{"type":"number","description":"Average price","format":"double","example":14.12},"revenue_grouping_rate":{"type":"number","description":"Revenue grouping rate","format":"double","example":25.8},"sale_grouping_rate":{"type":"number","description":"Sale grouping rate","format":"double","example":15.3},"video_num":{"type":"integer","description":"Video count","format":"int32","example":25},"creator_num":{"type":"integer","description":"Creator count","format":"int32","example":12},"commission_rate":{"type":"string","description":"Commission rate","example":"15%"},"launch_date":{"type":"string","description":"Launch date","example":"2024-01-15"},"group_ids":{"type":"string","description":"Group IDs","example":"group1,group2"},"video_incr_num":{"type":"integer","description":"Video increment number","format":"int32","example":5},"creator_incr_num":{"type":"integer","description":"Creator increment number","format":"int32","example":3},"revenue_trend":{"type":"array","description":"Revenue trend","example":[100.5,120.3,150.8],"items":{"type":"number","description":"Revenue trend","format":"double"}},"average_price_trend":{"type":"array","description":"Average price trend","example":[10.5,12.3,14.8],"items":{"type":"number","description":"Average price trend","format":"double"}},"remarks":{"type":"string","description":"Remarks","example":"High priority product"}}},"ResultListFocusProductQueryListRes":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/FocusProductQueryListRes"}},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"ProductCommentInsightReq":{"required":["country_code","product_id"],"type":"object","properties":{"product_id":{"type":"string","description":"TikTok product ID","example":"1729383749752951276"},"country_code":{"type":"string","description":"Country code","example":"us"}}},"ProductCommentInsightRes":{"type":"object","properties":{"product_id":{"type":"string","description":"TikTok product ID"},"country_code":{"type":"string","description":"Country code"},"cached_at":{"type":"string","description":"Insight generation time (ISO8601)"},"comment_summary":{"type":"object","additionalProperties":{"type":"object","description":"Comment summary"},"description":"Comment summary"},"original_comments":{"type":"array","description":"Original comments used for the insight","items":{"type":"object","additionalProperties":{"type":"object","description":"Original comments used for the insight"},"description":"Original comments used for the insight"}},"pain_points":{"type":"array","description":"Pain points","items":{"type":"object","additionalProperties":{"type":"object","description":"Pain points"},"description":"Pain points"}},"positive_points":{"type":"array","description":"Positive points","items":{"type":"object","additionalProperties":{"type":"object","description":"Positive points"},"description":"Positive points"}},"usage_scenarios":{"type":"array","description":"Usage scenarios","items":{"type":"object","additionalProperties":{"type":"object","description":"Usage scenarios"},"description":"Usage scenarios"}}}},"ResultProductCommentInsightRes":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/ProductCommentInsightRes"},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"ProductAnalysisReq":{"required":["language","product_id","region"],"type":"object","properties":{"product_id":{"type":"string","description":"TikTok product ID","example":"1729448464509734958"},"region":{"type":"string","description":"Data country code, e.g. US, BR, MX, ID, JP, MY, PH, SG, TH, VN, GB, ES, DE, FR, IT.","example":"US","enum":["US","BR","MX","ID","JP","MY","PH","SG","TH","VN","GB","ES","DE","FR","IT"]},"language":{"type":"string","description":"Language for selling points and attributes. Currently supports zh-CN, en-US, id-ID, th-TH, vi-VN, es-ES, ja-JP, pt-BR, ko-KR, fr-FR.","example":"en-US","enum":["zh-CN","en-US","id-ID","th-TH","vi-VN","es-ES","ja-JP","pt-BR","ko-KR","fr-FR"]}}},"Attribute":{"type":"object","properties":{"key":{"type":"string","description":"Attribute name"},"value":{"type":"string","description":"Attribute value"}},"description":"Product attributes"},"Highlight":{"type":"object","properties":{"key_word":{"type":"string","description":"Selling-point keyword"},"region_text":{"type":"string","description":"Original region text on the product"}},"description":"Product selling-point highlights"},"ProductAnalysisRes":{"type":"object","properties":{"product_id":{"type":"string","description":"TikTok product ID","example":"1729448464509734958"},"region":{"type":"string","description":"Data country code","example":"US"},"language":{"type":"string","description":"Language of selling points and attributes","example":"en-US"},"highlights":{"type":"array","description":"Product selling-point highlights","items":{"$ref":"#/components/schemas/Highlight"}},"attributes":{"type":"array","description":"Product attributes","items":{"$ref":"#/components/schemas/Attribute"}}}},"ResultProductAnalysisRes":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/ProductAnalysisRes"},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"FilterConfigurationReq":{"required":["currency","date_range","language","region","type"],"type":"object","properties":{"region":{"type":"string","description":"Data country code, e.g. US, BR, MX, ID, JP, MY, PH, SG, TH, VN, GB, ES, DE, FR, IT.","example":"US","enum":["US","BR","MX","ID","JP","MY","PH","SG","TH","VN","GB","ES","DE","FR","IT"]},"language":{"type":"string","description":"Language for text fields in the response. Currently supports zh-CN, en-US, id-ID, th-TH, vi-VN, es-ES, ja-JP, pt-BR, ko-KR, fr-FR.","example":"en-US","enum":["zh-CN","en-US","id-ID","th-TH","vi-VN","es-ES","ja-JP","pt-BR","ko-KR","fr-FR"]},"currency":{"type":"string","description":"Currency unit for revenue and price fields. Currently supports CNY, USD, IDR, VND, THB, MYR, JPY, PHP, GBP, SGD, MXN, EUR, BRL.","example":"USD","enum":["CNY","USD","IDR","VND","THB","MYR","JPY","PHP","GBP","SGD","MXN","EUR","BRL"]},"date_range":{"type":"string","description":"Date range. Accepts named ranges (lastDay, last7Day, last30Day, last60Day, last90Day, last180Day, last365Day), a natural date range in `yyyy-MM-dd~yyyy-MM-dd` form, or a natural month `yyyy-MM`. Some endpoints restrict this set — see the per-endpoint description.","example":"last7Day"},"type":{"type":"string","description":"Filter type: shop, creator, product, video, livestream, category","example":"shop"},"siteType":{"type":"string","description":"Optional site type, combined as siteType_type when present"}}},"FilterConfigurationVO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"officeIcon":{"type":"string"},"name":{"type":"string"},"i18nKey":{"type":"string"},"type":{"type":"string"},"isCustom":{"type":"boolean"},"enable":{"type":"boolean"},"isNew":{"type":"boolean"},"data":{"type":"object","additionalProperties":{"type":"object"}},"order":{"type":"integer","format":"int64"},"pinned":{"type":"boolean"}}},"ResultListFilterConfigurationVO":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/FilterConfigurationVO"}},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"FocusCreatorQueryListReq":{"required":["currency","date_range","language","region","sort_field"],"type":"object","properties":{"region":{"type":"string","description":"Data country code, e.g. US, BR, MX, ID, JP, MY, PH, SG, TH, VN, GB, ES, DE, FR, IT.","example":"US","enum":["US","BR","MX","ID","JP","MY","PH","SG","TH","VN","GB","ES","DE","FR","IT"]},"language":{"type":"string","description":"Language for text fields in the response. Currently supports zh-CN, en-US, id-ID, th-TH, vi-VN, es-ES, ja-JP, pt-BR, ko-KR, fr-FR.","example":"en-US","enum":["zh-CN","en-US","id-ID","th-TH","vi-VN","es-ES","ja-JP","pt-BR","ko-KR","fr-FR"]},"currency":{"type":"string","description":"Currency unit for revenue and price fields. Currently supports CNY, USD, IDR, VND, THB, MYR, JPY, PHP, GBP, SGD, MXN, EUR, BRL.","example":"USD","enum":["CNY","USD","IDR","VND","THB","MYR","JPY","PHP","GBP","SGD","MXN","EUR","BRL"]},"date_range":{"type":"string","description":"Date range. Accepts named ranges (lastDay, last7Day, last30Day, last60Day, last90Day, last180Day, last365Day), a natural date range in `yyyy-MM-dd~yyyy-MM-dd` form, or a natural month `yyyy-MM`. Some endpoints restrict this set — see the per-endpoint description.","example":"last7Day"},"sort_field":{"$ref":"#/components/schemas/SortFieldReq"},"rank_field":{"type":"string","description":"Legacy shortcut for the sort field name; prefer `sort_field`. Ignored when `sort_field` is set.","example":"revenue"},"asc":{"type":"boolean","description":"Legacy ascending flag paired with `rank_field`. Default false (DESC).","example":false},"page_size":{"type":"integer","description":"Page size. Maximum 100 records per query. Default 10.","format":"int32","example":20},"page_number":{"type":"integer","description":"Page number, starting at 1. ","format":"int32","example":1},"group_id":{"type":"string","description":"Group ID for filtering focused creators","example":"10979"},"keyword":{"type":"string","description":"Keyword for searching creators","example":"handle"},"live_numbers":{"type":"string","description":"Live numbers filter, e.g. 0-10, >10","example":"0-10"},"video_numbers":{"type":"string","description":"Video numbers filter, e.g. 0-10, >10","example":">10"},"collaborated_shops":{"type":"string","description":"Collaborated shops filter","example":"ALL"}}},"FocusCreatorQueryListRes":{"type":"object","properties":{"creator_id":{"type":"string","description":"Creator ID"},"creator_handle":{"type":"string","description":"Creator handle"},"creator_nickname":{"type":"string","description":"Creator nickname"},"followers":{"type":"integer","description":"Follower count","format":"int32"},"duration":{"type":"string","description":"Duration, e.g. 0m"},"seller_ids":{"type":"array","description":"Seller IDs (collaborated shops)","items":{"type":"string","description":"Seller IDs (collaborated shops)"}},"group_ids":{"type":"array","description":"Group IDs","items":{"type":"string","description":"Group IDs"}},"revenue":{"type":"number","description":"Total revenue","format":"double"},"live_revenue":{"type":"number","description":"Live revenue","format":"double"},"video_revenue":{"type":"number","description":"Video revenue","format":"double"},"live":{"type":"integer","description":"Live count","format":"int32"},"video":{"type":"integer","description":"Video count","format":"int32"},"revenue_trend":{"type":"array","description":"Revenue trend by day","items":{"type":"number","description":"Revenue trend by day","format":"double"}},"groupList":{"type":"array","description":"Group list (group_id, group_name)","items":{"type":"object","additionalProperties":{"type":"object","description":"Group list (group_id, group_name)"},"description":"Group list (group_id, group_name)"}}}},"ResultListFocusCreatorQueryListRes":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/FocusCreatorQueryListRes"}},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"CreatorAvatarImagesReq":{"required":["creator_ids"],"type":"object","properties":{"creator_ids":{"type":"array","description":"TikTok creator IDs. Maximum 100 IDs per request.","example":["7153432386608251946","7153432386608251947"],"items":{"type":"string","description":"TikTok creator IDs. Maximum 100 IDs per request.","example":"[\"7153432386608251946\",\"7153432386608251947\"]"}}}},"CreatorAvatarImagesRes":{"type":"object","properties":{"images":{"type":"object","additionalProperties":{"type":"string","description":"Creator ID to CloudFront signed avatar URL map"},"description":"Creator ID to CloudFront signed avatar URL map"},"expires_at":{"type":"string","description":"UTC time when all avatar URLs expire","format":"date-time","example":"2026-07-23T12:05:00Z"}}},"ResultCreatorAvatarImagesRes":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/CreatorAvatarImagesRes"},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"CategoryOverviewOpenApiReq":{"required":["currency","date_range","language","region"],"type":"object","properties":{"region":{"type":"string","description":"Data country code, e.g. US, BR, MX, ID, JP, MY, PH, SG, TH, VN, GB, ES, DE, FR, IT.","example":"US","enum":["US","BR","MX","ID","JP","MY","PH","SG","TH","VN","GB","ES","DE","FR","IT"]},"language":{"type":"string","description":"Language for text fields in the response. Currently supports zh-CN, en-US, id-ID, th-TH, vi-VN, es-ES, ja-JP, pt-BR, ko-KR, fr-FR.","example":"en-US","enum":["zh-CN","en-US","id-ID","th-TH","vi-VN","es-ES","ja-JP","pt-BR","ko-KR","fr-FR"]},"currency":{"type":"string","description":"Currency unit for revenue and price fields. Currently supports CNY, USD, IDR, VND, THB, MYR, JPY, PHP, GBP, SGD, MXN, EUR, BRL.","example":"USD","enum":["CNY","USD","IDR","VND","THB","MYR","JPY","PHP","GBP","SGD","MXN","EUR","BRL"]},"date_range":{"type":"string","description":"Date range. Accepts named ranges (lastDay, last7Day, last30Day, last60Day, last90Day, last180Day, last365Day), a natural date range in `yyyy-MM-dd~yyyy-MM-dd` form, or a natural month `yyyy-MM`. Some endpoints restrict this set — see the per-endpoint description.","example":"last7Day"},"categoryIds":{"type":"array","description":"Optional category IDs to include.","items":{"type":"string","description":"Optional category IDs to include."}},"keyword":{"type":"string","description":"Category keyword."},"drillCategoryId":{"type":"string","description":"Optional category ID for enterprise drill-down."},"categoryLevels":{"type":"array","description":"Category levels to include. Professional callers may only request level 1.","items":{"type":"string","description":"Category levels to include. Professional callers may only request level 1."}},"revenueRange":{"type":"string","description":"Gross merchandise value range in the request currency. Supports ranges such as `100-1000`, `<100`, or `>1000`.","example":"100-1000"},"revenueGrowthRange":{"type":"string","description":"Gross merchandise value growth-rate range. Supports ranges such as `10-50`, `<10`, or `>50`.","example":"10-50"},"averageRevenueRange":{"type":"string","description":"Average gross merchandise value range in the request currency. Supports ranges such as `100-1000`, `<100`, or `>1000`.","example":"100-1000"},"top3RevenueRange":{"type":"string","description":"Top 3 shops' gross merchandise value share range. Supports ranges such as `10-50`, `<10`, or `>50`.","example":"10-50"},"top10RevenueRange":{"type":"string","description":"Top 10 shops' gross merchandise value share range. Supports ranges such as `10-50`, `<10`, or `>50`.","example":"10-50"}}},"CategoryChild":{"type":"object","properties":{"list":{"type":"array","description":"Category nodes ordered by gross merchandise value.","items":{"$ref":"#/components/schemas/CategoryNode"}},"others":{"$ref":"#/components/schemas/CategoryOthers"},"total_count":{"type":"integer","description":"Number of category nodes represented by this container.","format":"int32","example":12}},"description":"Top-level category hierarchy and optional Others aggregate."},"CategoryNode":{"type":"object","properties":{"id":{"type":"string","description":"Internal category node identifier used for hierarchy traversal.","example":"601152"},"name":{"type":"string","description":"Localized category name.","example":"Beauty & Personal Care"},"level":{"type":"string","description":"Category depth level.","example":"1"},"gmv":{"type":"number","description":"Raw gross merchandise value used for sorting and aggregation.","format":"double","example":123456.78},"revenue":{"type":"number","description":"Category revenue in the requested currency.","example":123456.78},"sale":{"type":"number","description":"Category sales quantity.","example":12345},"full":{"type":"boolean","description":"Whether all descendant category data is included for this node.","example":false},"cate_id":{"type":"string","description":"Category identifier.","example":"601152"},"can_drill_cate":{"type":"boolean","description":"Whether this node supports drill-down to child categories.","example":true},"revenue_trend":{"type":"array","description":"Revenue values in chronological interval order.","items":{"type":"number","description":"Revenue values in chronological interval order.","format":"double"}},"revenue_growth_rate":{"type":"number","description":"Revenue growth rate as a decimal ratio.","format":"double","example":0.158},"date_interval":{"type":"string","description":"Aggregation interval represented by this node.","example":"last30Day"},"child_cates":{"$ref":"#/components/schemas/CategoryChild"}},"description":"Category nodes ordered by gross merchandise value."},"CategoryOthers":{"type":"object","properties":{"summary":{"$ref":"#/components/schemas/CategorySummary"}},"description":"Aggregate metrics for nodes outside the leading displayed categories."},"CategoryOverviewResponseDTO":{"type":"object","properties":{"categories":{"$ref":"#/components/schemas/CategoryChild"},"summaryOverview":{"$ref":"#/components/schemas/SummaryOverview"},"priceRangeOverview":{"$ref":"#/components/schemas/PriceRangeOverview"},"date_interval":{"type":"string","description":"Selected aggregation interval.","example":"last30Day"},"total_gmv":{"type":"number","description":"Total gross merchandise value for the selected interval.","format":"double","example":1234567.89}}},"CategorySummary":{"type":"object","properties":{"name":{"type":"string","description":"Aggregate label.","example":"Others"},"gmv":{"type":"number","description":"Raw aggregated gross merchandise value.","format":"double","example":456789.12},"revenue":{"type":"number","description":"Aggregated category revenue in the requested currency.","example":456789.12},"revenue_growth_rate":{"type":"number","description":"Aggregated revenue growth rate as a decimal ratio.","format":"double","example":0.0825},"revenue_trend":{"type":"array","description":"Chronological aggregated revenue trend.","items":{"$ref":"#/components/schemas/TrendDataPointDouble"}}},"description":"Aggregate metrics for categories grouped as Others."},"CoreOverview":{"type":"object","properties":{"revenue":{"type":"number","description":"Total revenue in the requested currency.","example":1234567.89},"sale":{"type":"number","description":"Total sales quantity.","example":98765},"revenue_growth_rate":{"type":"number","description":"Revenue growth rate as a decimal ratio.","format":"double","example":0.125},"sale_growth_rate":{"type":"number","description":"Sales growth rate as a decimal ratio.","format":"double","example":0.09},"revenue_trend":{"type":"array","description":"Revenue trend by date interval.","items":{"$ref":"#/components/schemas/TrendDataPointDouble"}},"sale_trend":{"type":"array","description":"Sales trend by date interval.","items":{"$ref":"#/components/schemas/TrendDataPointLong"}},"top_10_shop_revenue_ratio":{"type":"number","description":"Share of revenue contributed by the top 10 shops, as a decimal ratio.","format":"double","example":0.421},"top_10_shop_revenue_growth_rate":{"type":"number","description":"Growth rate of the top-10-shop revenue share, as a decimal ratio.","format":"double","example":0.065},"top_10_shop_revenue_ratio_trend":{"type":"array","description":"Top-10-shop revenue-share trend.","items":{"$ref":"#/components/schemas/TrendDataPointDouble"}},"active_product_coverage_rate":{"type":"number","description":"Active product coverage rate as a decimal ratio.","format":"double","example":0.74},"active_product_coverage_rate_growth_rate":{"type":"number","description":"Growth rate of active product coverage, as a decimal ratio.","format":"double","example":0.031},"active_product_coverage_rate_trend":{"type":"array","description":"Active product coverage trend.","items":{"$ref":"#/components/schemas/TrendDataPointDouble"}},"self_promotion_revenue":{"type":"number","description":"Self-promotion channel revenue in the requested currency.","example":240000.0},"affiliate_revenue":{"type":"number","description":"Affiliate channel revenue in the requested currency.","example":180000.0},"shopping_mall_revenue":{"type":"number","description":"Shopping-mall channel revenue in the requested currency.","example":110000.0},"self_promotion_percentage":{"type":"number","description":"Self-promotion revenue share as a decimal ratio.","format":"double","example":0.45},"affiliate_percentage":{"type":"number","description":"Affiliate revenue share as a decimal ratio.","format":"double","example":0.34},"shopping_mall_percentage":{"type":"number","description":"Shopping-mall revenue share as a decimal ratio.","format":"double","example":0.21},"live_revenue":{"type":"number","description":"Livestream revenue in the requested currency.","example":530000.0},"video_revenue":{"type":"number","description":"Video revenue in the requested currency.","example":410000.0},"showcase_revenue":{"type":"number","description":"Showcase/product-card revenue in the requested currency.","example":290000.0},"live_percentage":{"type":"number","description":"Livestream revenue share as a decimal ratio.","format":"double","example":0.43},"video_percentage":{"type":"number","description":"Video revenue share as a decimal ratio.","format":"double","example":0.33},"showcase_percentage":{"type":"number","description":"Showcase/product-card revenue share as a decimal ratio.","format":"double","example":0.24}},"description":"Core revenue, sales, channel, concentration, and product-coverage metrics."},"NewProductOverview":{"type":"object","properties":{"new_product_revenue":{"type":"number","description":"Revenue from new products in the requested currency.","example":75000.0},"new_product_contribution":{"type":"number","description":"New-product revenue contribution as a decimal ratio.","format":"double","example":0.12},"new_product_contribution_growth_rate":{"type":"number","description":"Growth rate of new-product contribution, as a decimal ratio.","format":"double","example":0.04},"new_product_revenue_trend":{"type":"array","description":"New-product revenue trend.","items":{"$ref":"#/components/schemas/TrendDataPointDouble"}},"new_product_contribution_trend":{"type":"array","description":"New-product contribution trend.","items":{"$ref":"#/components/schemas/TrendDataPointDouble"}}},"description":"New-product revenue and contribution metrics."},"PriceRangeItem":{"type":"object","properties":{"currency":{"type":"string","description":"Currency symbol or prefix used for this price band.","example":"$"},"sale":{"type":"integer","description":"Sales quantity in this price band.","format":"int64","example":1832},"price_range_min":{"type":"number","description":"Inclusive lower price bound in the requested currency.","example":0.0},"price_range_max":{"type":"number","description":"Upper price bound in the requested currency; null for an open-ended band.","nullable":true,"example":19.99},"price_range":{"type":"string","description":"Human-readable price-band label.","example":"0-20"},"product_cnt":{"type":"integer","description":"Number of products in this price band.","format":"int64","example":245},"product_cnt_ratio":{"type":"number","description":"Share of products in this price band, as a decimal ratio.","format":"double","example":0.18},"sale_ratio":{"type":"number","description":"Share of sales in this price band, as a decimal ratio.","format":"double","example":0.22}},"description":"Current-period price-band distribution."},"PriceRangeOverview":{"type":"object","properties":{"now":{"type":"array","description":"Current-period price-band distribution.","items":{"$ref":"#/components/schemas/PriceRangeItem"}},"avg_sale_price":{"type":"number","description":"Average selling price in the requested currency.","example":18.45},"avg_sale_price_local":{"type":"string","description":"Locale-formatted average selling price in the local currency.","example":"Rp 286,000.00"},"avg_sale_price_growth_rate":{"type":"number","description":"Average selling price growth rate as a decimal ratio.","format":"double","example":0.075}},"description":"Average selling price and current price-band distribution."},"ResultCategoryOverviewResponseDTO":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/CategoryOverviewResponseDTO"},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"SummaryOverview":{"type":"object","properties":{"coreOverview":{"$ref":"#/components/schemas/CoreOverview"},"newProductOverview":{"$ref":"#/components/schemas/NewProductOverview"},"date_interval":{"type":"string","description":"Aggregation interval for this summary.","example":"last30Day"}},"description":"Category performance summary for the selected category scope."},"TrendDataPointDouble":{"type":"object","properties":{"startDate":{"type":"string","description":"Inclusive start date in yyyy-MM-dd format.","example":"2025-01-01"},"endDate":{"type":"string","description":"Inclusive end date in yyyy-MM-dd format.","example":"2025-01-07"},"value":{"type":"number","description":"Trend value. Revenue and ratio trends use a number; sales trends use an integer.","format":"double","example":1234.56}},"description":"New-product contribution trend."},"TrendDataPointLong":{"type":"object","properties":{"startDate":{"type":"string","description":"Inclusive start date in yyyy-MM-dd format.","example":"2025-01-01"},"endDate":{"type":"string","description":"Inclusive end date in yyyy-MM-dd format.","example":"2025-01-07"},"value":{"type":"integer","description":"Trend value. Revenue and ratio trends use a number; sales trends use an integer.","format":"int64"}},"description":"Sales trend by date interval."},"BrandVideoListOpenApiReq":{"required":["brand_id","currency","date_range","language","region"],"type":"object","properties":{"region":{"type":"string","description":"Data country code, e.g. US, BR, MX, ID, JP, MY, PH, SG, TH, VN, GB, ES, DE, FR, IT.","example":"US","enum":["US","BR","MX","ID","JP","MY","PH","SG","TH","VN","GB","ES","DE","FR","IT"]},"language":{"type":"string","description":"Language for text fields in the response. Currently supports zh-CN, en-US, id-ID, th-TH, vi-VN, es-ES, ja-JP, pt-BR, ko-KR, fr-FR.","example":"en-US","enum":["zh-CN","en-US","id-ID","th-TH","vi-VN","es-ES","ja-JP","pt-BR","ko-KR","fr-FR"]},"currency":{"type":"string","description":"Currency unit for revenue and price fields. Currently supports CNY, USD, IDR, VND, THB, MYR, JPY, PHP, GBP, SGD, MXN, EUR, BRL.","example":"USD","enum":["CNY","USD","IDR","VND","THB","MYR","JPY","PHP","GBP","SGD","MXN","EUR","BRL"]},"date_range":{"type":"string","description":"Date range. Accepts named ranges (lastDay, last7Day, last30Day, last60Day, last90Day, last180Day, last365Day), a natural date range in `yyyy-MM-dd~yyyy-MM-dd` form, or a natural month `yyyy-MM`. Some endpoints restrict this set — see the per-endpoint description.","example":"last7Day"},"brand_id":{"type":"string","description":"Brand ID","example":"375919382640040989"},"category_ids":{"type":"array","description":"Optional category IDs used to scope attributed brand metrics","example":["12345"],"items":{"type":"string","description":"Optional category IDs used to scope attributed brand metrics","example":"[\"12345\"]"}},"sort_field":{"$ref":"#/components/schemas/SortFieldReq"},"page_size":{"type":"integer","description":"Page size, default 10, maximum 100,minimum 5","format":"int32","example":10},"page_number":{"type":"integer","description":"Page number, starting at 1. Default 1.","format":"int32","example":1}}},"BrandVideoListOpenApiRes":{"type":"object","properties":{"video_id":{"type":"string","description":"Video ID"},"video_title":{"type":"string","description":"Video title/description"},"creator_id":{"type":"string","description":"Creator ID (TikTok uid) who posted the video"},"creator_handle":{"type":"string","description":"Creator handle (@username)"},"revenue":{"type":"number","description":"Revenue (GMV) attributed to the video for this brand over the selected date range, in the request `currency`","format":"double"},"sales_volumn":{"type":"integer","description":"Number of brand items sold through the video over the selected date range","format":"int64"},"views":{"type":"integer","description":"Video view count","format":"int64"},"create_time":{"type":"integer","description":"Video publish time, as a Unix timestamp in milliseconds","format":"int64"},"product_ids":{"type":"array","description":"IDs of brand products featured in the video","items":{"type":"string","description":"IDs of brand products featured in the video"}}}},"ResultListBrandVideoListOpenApiRes":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/BrandVideoListOpenApiRes"}},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"BrandProductListOpenApiReq":{"required":["brand_id","currency","date_range","language","region"],"type":"object","properties":{"region":{"type":"string","description":"Data country code, e.g. US, BR, MX, ID, JP, MY, PH, SG, TH, VN, GB, ES, DE, FR, IT.","example":"US","enum":["US","BR","MX","ID","JP","MY","PH","SG","TH","VN","GB","ES","DE","FR","IT"]},"language":{"type":"string","description":"Language for text fields in the response. Currently supports zh-CN, en-US, id-ID, th-TH, vi-VN, es-ES, ja-JP, pt-BR, ko-KR, fr-FR.","example":"en-US","enum":["zh-CN","en-US","id-ID","th-TH","vi-VN","es-ES","ja-JP","pt-BR","ko-KR","fr-FR"]},"currency":{"type":"string","description":"Currency unit for revenue and price fields. Currently supports CNY, USD, IDR, VND, THB, MYR, JPY, PHP, GBP, SGD, MXN, EUR, BRL.","example":"USD","enum":["CNY","USD","IDR","VND","THB","MYR","JPY","PHP","GBP","SGD","MXN","EUR","BRL"]},"date_range":{"type":"string","description":"Date range. Accepts named ranges (lastDay, last7Day, last30Day, last60Day, last90Day, last180Day, last365Day), a natural date range in `yyyy-MM-dd~yyyy-MM-dd` form, or a natural month `yyyy-MM`. Some endpoints restrict this set — see the per-endpoint description.","example":"last7Day"},"brand_id":{"type":"string","description":"Brand ID","example":"375919382640040989"},"category_ids":{"type":"array","description":"Optional category IDs used to scope attributed brand metrics","example":["12345"],"items":{"type":"string","description":"Optional category IDs used to scope attributed brand metrics","example":"[\"12345\"]"}},"sort_field":{"$ref":"#/components/schemas/SortFieldReq"},"page_size":{"type":"integer","description":"Page size, default 10, maximum 100,minimum 5","format":"int32","example":10},"page_number":{"type":"integer","description":"Page number, starting at 1. Default 1.","format":"int32","example":1}}},"BrandProductListOpenApiRes":{"type":"object","properties":{"product_id":{"type":"string","description":"Product ID"},"product_name":{"type":"string","description":"Product name"},"collect_day":{"type":"string","description":"Product launch/collection date, in `yyyy-MM-dd`"},"revenue":{"type":"number","description":"Revenue (GMV) attributed to the product for this brand over the selected date range, in the request `currency`","format":"double"},"sales_volumn":{"type":"integer","description":"Number of units sold over the selected date range","format":"int64"},"unit_price":{"type":"number","description":"Average unit price over the selected date range, in the request `currency`","format":"double"}}},"ResultListBrandProductListOpenApiRes":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/BrandProductListOpenApiRes"}},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"BrandLivestreamListOpenApiReq":{"required":["brand_id","currency","date_range","language","region"],"type":"object","properties":{"region":{"type":"string","description":"Data country code, e.g. US, BR, MX, ID, JP, MY, PH, SG, TH, VN, GB, ES, DE, FR, IT.","example":"US","enum":["US","BR","MX","ID","JP","MY","PH","SG","TH","VN","GB","ES","DE","FR","IT"]},"language":{"type":"string","description":"Language for text fields in the response. Currently supports zh-CN, en-US, id-ID, th-TH, vi-VN, es-ES, ja-JP, pt-BR, ko-KR, fr-FR.","example":"en-US","enum":["zh-CN","en-US","id-ID","th-TH","vi-VN","es-ES","ja-JP","pt-BR","ko-KR","fr-FR"]},"currency":{"type":"string","description":"Currency unit for revenue and price fields. Currently supports CNY, USD, IDR, VND, THB, MYR, JPY, PHP, GBP, SGD, MXN, EUR, BRL.","example":"USD","enum":["CNY","USD","IDR","VND","THB","MYR","JPY","PHP","GBP","SGD","MXN","EUR","BRL"]},"date_range":{"type":"string","description":"Date range. Accepts named ranges (lastDay, last7Day, last30Day, last60Day, last90Day, last180Day, last365Day), a natural date range in `yyyy-MM-dd~yyyy-MM-dd` form, or a natural month `yyyy-MM`. Some endpoints restrict this set — see the per-endpoint description.","example":"last7Day"},"brand_id":{"type":"string","description":"Brand ID","example":"375919382640040989"},"category_ids":{"type":"array","description":"Optional category IDs used to scope attributed brand metrics","example":["12345"],"items":{"type":"string","description":"Optional category IDs used to scope attributed brand metrics","example":"[\"12345\"]"}},"sort_field":{"$ref":"#/components/schemas/SortFieldReq"},"page_size":{"type":"integer","description":"Page size, default 10, maximum 100,minimum 5","format":"int32","example":10},"page_number":{"type":"integer","description":"Page number, starting at 1. Default 1.","format":"int32","example":1}}},"BrandLivestreamListOpenApiRes":{"type":"object","properties":{"livestream_id":{"type":"string","description":"Livestream ID"},"livestream_title":{"type":"string","description":"Livestream title"},"creator_id":{"type":"string","description":"Creator ID (TikTok uid) who hosted the livestream"},"creator_handle":{"type":"string","description":"Creator handle (@username)"},"revenue":{"type":"number","description":"Revenue (GMV) attributed to the livestream for this brand over the selected date range, in the request `currency`","format":"double"},"sales_volumn":{"type":"integer","description":"Number of brand items sold during the livestream over the selected date range","format":"int64"},"unit_price":{"type":"number","description":"Average unit price during the livestream, in the request `currency`","format":"double"},"livestream_start_time":{"type":"integer","description":"Livestream start time, as a Unix timestamp in milliseconds","format":"int64"},"livestream_end_time":{"type":"integer","description":"Livestream end time, as a Unix timestamp in milliseconds","format":"int64"},"livestream_duration":{"type":"integer","description":"Livestream duration in seconds","format":"int64"},"record_type":{"type":"string","description":"Record type indicating the livestream data source/state"}}},"ResultListBrandLivestreamListOpenApiRes":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/BrandLivestreamListOpenApiRes"}},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"BrandListOpenApiReq":{"required":["currency","date_range","language","region"],"type":"object","properties":{"region":{"type":"string","description":"Data country code, e.g. US, BR, MX, ID, JP, MY, PH, SG, TH, VN, GB, ES, DE, FR, IT.","example":"US","enum":["US","BR","MX","ID","JP","MY","PH","SG","TH","VN","GB","ES","DE","FR","IT"]},"language":{"type":"string","description":"Language for text fields in the response. Currently supports zh-CN, en-US, id-ID, th-TH, vi-VN, es-ES, ja-JP, pt-BR, ko-KR, fr-FR.","example":"en-US","enum":["zh-CN","en-US","id-ID","th-TH","vi-VN","es-ES","ja-JP","pt-BR","ko-KR","fr-FR"]},"currency":{"type":"string","description":"Currency unit for revenue and price fields. Currently supports CNY, USD, IDR, VND, THB, MYR, JPY, PHP, GBP, SGD, MXN, EUR, BRL.","example":"USD","enum":["CNY","USD","IDR","VND","THB","MYR","JPY","PHP","GBP","SGD","MXN","EUR","BRL"]},"date_range":{"type":"string","description":"Date range. Accepts named ranges (lastDay, last7Day, last30Day, last60Day, last90Day, last180Day, last365Day), a natural date range in `yyyy-MM-dd~yyyy-MM-dd` form, or a natural month `yyyy-MM`. Some endpoints restrict this set — see the per-endpoint description.","example":"last7Day"},"category_ids":{"type":"array","description":"Category IDs to filter brands by (matches the brand's attributed category)","example":["12345"],"items":{"type":"string","description":"Category IDs to filter brands by (matches the brand's attributed category)","example":"[\"12345\"]"}},"keyword":{"type":"string","description":"Fuzzy brand-name keyword","example":"beauty"},"revenue_range":{"type":"string","description":"Revenue (GMV) range filter over the selected date range, in the request `currency`. Format `min-max`; open-ended forms like `>1000` or `<100` are also accepted.","example":"1000-10000"},"sales_range":{"type":"string","description":"Items-sold range filter over the selected date range. Format `min-max`; open-ended forms like `>100` are also accepted.","example":"100-1000"},"revenue_growth_rate_range":{"type":"string","description":"Revenue growth-rate range filter, as a percentage. Format `min-max` (e.g. `10-50` = +10% to +50%).","example":"10-50"},"sort_field":{"$ref":"#/components/schemas/SortFieldReq"},"page_size":{"type":"integer","description":"Page size, default 10, maximum 100","format":"int32","example":10},"page_number":{"type":"integer","description":"Page number, starting at 1. Default 1.","format":"int32","example":1}}},"BrandDailyRevenueOpenApiRes":{"type":"object","properties":{"partition_day":{"type":"string","description":"Date of this data point, in `yyyy-MM-dd`"},"revenue":{"type":"number","description":"Revenue (GMV) on this day, in the request `currency`","format":"double"}},"description":"Daily revenue trend over the selected date range"},"BrandListOpenApiRes":{"type":"object","properties":{"brand_id":{"type":"string","description":"Brand ID"},"brand_name":{"type":"string","description":"Brand name"},"brand_logo":{"type":"string","description":"Brand logo URL"},"is_bluev":{"type":"boolean","description":"Whether the brand is Blue-V (official) verified"},"main_pri_cate_id":{"type":"integer","description":"Main primary category ID the brand is attributed to","format":"int64"},"revenue":{"type":"number","description":"Gross revenue (GMV) over the selected date range, in the request `currency`","format":"double"},"revenue_growth_rate":{"type":"number","description":"Revenue growth rate over the selected date range vs. the preceding equal-length period, as a ratio (e.g. 0.25 = +25%)","format":"double"},"sales_volumn":{"type":"integer","description":"Number of items sold over the selected date range","format":"int64"},"unit_price":{"type":"number","description":"Average unit price over the selected date range, in the request `currency`","format":"double"},"engagement":{"type":"integer","description":"Total engagement count (likes, comments, and shares) over the selected date range","format":"int64"},"creator_count":{"type":"integer","description":"Number of distinct creators promoting the brand over the selected date range","format":"int64"},"video_count":{"type":"integer","description":"Number of videos attributed to the brand over the selected date range","format":"int64"},"market_share":{"type":"string","description":"Brand market share within its main category, as a percentage string (e.g. `12.34%`)"},"revenue_trend":{"type":"array","description":"Daily revenue trend over the selected date range","items":{"$ref":"#/components/schemas/BrandDailyRevenueOpenApiRes"}}}},"ResultListBrandListOpenApiRes":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/BrandListOpenApiRes"}},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"BrandDetailOpenApiReq":{"required":["brand_id","currency","date_range","language","region"],"type":"object","properties":{"region":{"type":"string","description":"Data country code, e.g. US, BR, MX, ID, JP, MY, PH, SG, TH, VN, GB, ES, DE, FR, IT.","example":"US","enum":["US","BR","MX","ID","JP","MY","PH","SG","TH","VN","GB","ES","DE","FR","IT"]},"language":{"type":"string","description":"Language for text fields in the response. Currently supports zh-CN, en-US, id-ID, th-TH, vi-VN, es-ES, ja-JP, pt-BR, ko-KR, fr-FR.","example":"en-US","enum":["zh-CN","en-US","id-ID","th-TH","vi-VN","es-ES","ja-JP","pt-BR","ko-KR","fr-FR"]},"currency":{"type":"string","description":"Currency unit for revenue and price fields. Currently supports CNY, USD, IDR, VND, THB, MYR, JPY, PHP, GBP, SGD, MXN, EUR, BRL.","example":"USD","enum":["CNY","USD","IDR","VND","THB","MYR","JPY","PHP","GBP","SGD","MXN","EUR","BRL"]},"date_range":{"type":"string","description":"Date range. Accepts named ranges (lastDay, last7Day, last30Day, last60Day, last90Day, last180Day, last365Day), a natural date range in `yyyy-MM-dd~yyyy-MM-dd` form, or a natural month `yyyy-MM`. Some endpoints restrict this set — see the per-endpoint description.","example":"last7Day"},"brand_id":{"type":"string","description":"Brand ID","example":"375919382640040989"},"category_ids":{"type":"array","description":"Optional category IDs used to scope attributed brand metrics","example":["12345"],"items":{"type":"string","description":"Optional category IDs used to scope attributed brand metrics","example":"[\"12345\"]"}}}},"BrandDetailBrandOpenApiRes":{"type":"object","properties":{"brand_id":{"type":"string","description":"Brand ID"},"brand_name":{"type":"string","description":"Brand name"},"brand_logo":{"type":"string","description":"Brand logo URL"},"main_pri_cate_id":{"type":"integer","description":"Main primary category ID the brand is attributed to","format":"int64"},"main_pri_cate_name":{"type":"string","description":"Main primary category name in the request `language`"},"main_price_min":{"type":"number","description":"Lower bound of the brand's main price range, in the request `currency`","format":"double"},"main_price_max":{"type":"number","description":"Upper bound of the brand's main price range, in the request `currency`","format":"double"}},"description":"Brand header/profile info"},"BrandDetailCategoryAverageOpenApiRes":{"type":"object","properties":{"avg_revenue":{"type":"number","description":"Average brand revenue in the main category, in the request `currency`","format":"double"},"avg_unit_price":{"type":"number","description":"Average unit price in the main category, in the request `currency`","format":"double"},"avg_total_views":{"type":"integer","description":"Average total views per brand in the main category","format":"int64"},"avg_ad_spend":{"type":"number","description":"Average ad spend per brand in the main category, in the request `currency`","format":"double"}},"description":"Average metrics of the brand's main category, for benchmarking"},"BrandDetailConcentrationOpenApiRes":{"type":"object","properties":{"top3_video_revenue":{"type":"number","description":"Combined revenue of the top-3 videos, in the request `currency`","format":"double"},"top3_video_ratio":{"type":"string","description":"Top-3 videos' share of total video revenue, as a percentage string (e.g. `45.67%`)"},"total_video_count":{"type":"integer","description":"Total number of videos attributed to the brand over the selected date range","format":"int64"},"top3_creator_revenue":{"type":"number","description":"Combined revenue of the top-3 creators, in the request `currency`","format":"double"},"top3_creator_ratio":{"type":"string","description":"Top-3 creators' share of total creator revenue, as a percentage string (e.g. `45.67%`)"},"total_creator_count":{"type":"integer","description":"Total number of creators promoting the brand over the selected date range","format":"int64"},"top3_product_revenue":{"type":"number","description":"Combined revenue of the top-3 products, in the request `currency`","format":"double"},"top3_product_ratio":{"type":"string","description":"Top-3 products' share of total product revenue, as a percentage string (e.g. `45.67%`)"},"total_product_count":{"type":"integer","description":"Total number of products attributed to the brand over the selected date range","format":"int64"}},"description":"Top-3 revenue concentration across videos, creators, and products"},"BrandDetailMetricsOpenApiRes":{"type":"object","properties":{"revenue":{"type":"number","description":"Gross revenue (GMV) over the selected date range, in the request `currency`","format":"double"},"sales_volumn":{"type":"integer","description":"Number of items sold over the selected date range","format":"int64"},"unit_price":{"type":"number","description":"Average unit price over the selected date range, in the request `currency`","format":"double"},"video_count":{"type":"integer","description":"Number of videos attributed to the brand over the selected date range","format":"int64"},"creator_count":{"type":"integer","description":"Number of distinct creators promoting the brand over the selected date range","format":"int64"},"product_count":{"type":"integer","description":"Number of distinct products attributed to the brand over the selected date range","format":"int64"},"video_views":{"type":"integer","description":"Total video views over the selected date range","format":"int64"},"live_views":{"type":"integer","description":"Total livestream views over the selected date range","format":"int64"},"total_views":{"type":"integer","description":"Total views (video + livestream) over the selected date range","format":"int64"},"ad_spend":{"type":"number","description":"Estimated ad spend over the selected date range, in the request `currency`","format":"double"},"engagement":{"type":"integer","description":"Total engagement count (likes, comments, and shares) over the selected date range","format":"int64"},"market_share":{"type":"string","description":"Brand market share within its main category, as a percentage string (e.g. `12.34%`)"}},"description":"Brand performance metrics over the selected date range"},"BrandDetailOpenApiRes":{"type":"object","properties":{"brand":{"$ref":"#/components/schemas/BrandDetailBrandOpenApiRes"},"ranking":{"$ref":"#/components/schemas/BrandDetailRankingOpenApiRes"},"metrics":{"$ref":"#/components/schemas/BrandDetailMetricsOpenApiRes"},"concentration":{"$ref":"#/components/schemas/BrandDetailConcentrationOpenApiRes"},"category_average":{"$ref":"#/components/schemas/BrandDetailCategoryAverageOpenApiRes"}}},"BrandDetailRankingOpenApiRes":{"type":"object","properties":{"revenue_30d":{"type":"number","description":"Revenue (GMV) over the last 30 days, in the request `currency`","format":"double"},"revenue_growth_rate":{"type":"number","description":"Revenue growth rate vs. the preceding equal-length period, as a ratio (e.g. 0.25 = +25%)","format":"double"},"market_share":{"type":"string","description":"Brand market share within its main category, as a percentage string (e.g. `12.34%`)"},"market_share_growth":{"type":"number","description":"Change in market share vs. the preceding period, as a ratio","format":"double"},"category_rank":{"type":"integer","description":"Brand rank within its main category","format":"int64"},"category_rank_change":{"type":"integer","description":"Change in category rank vs. the preceding period (positive = moved up)","format":"int64"},"main_cate_changed":{"type":"boolean","description":"Whether the brand's main category changed during the period"}},"description":"Brand ranking snapshot within its main category"},"ResultBrandDetailOpenApiRes":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/BrandDetailOpenApiRes"},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"BrandCreatorListOpenApiReq":{"required":["brand_id","currency","date_range","language","region"],"type":"object","properties":{"region":{"type":"string","description":"Data country code, e.g. US, BR, MX, ID, JP, MY, PH, SG, TH, VN, GB, ES, DE, FR, IT.","example":"US","enum":["US","BR","MX","ID","JP","MY","PH","SG","TH","VN","GB","ES","DE","FR","IT"]},"language":{"type":"string","description":"Language for text fields in the response. Currently supports zh-CN, en-US, id-ID, th-TH, vi-VN, es-ES, ja-JP, pt-BR, ko-KR, fr-FR.","example":"en-US","enum":["zh-CN","en-US","id-ID","th-TH","vi-VN","es-ES","ja-JP","pt-BR","ko-KR","fr-FR"]},"currency":{"type":"string","description":"Currency unit for revenue and price fields. Currently supports CNY, USD, IDR, VND, THB, MYR, JPY, PHP, GBP, SGD, MXN, EUR, BRL.","example":"USD","enum":["CNY","USD","IDR","VND","THB","MYR","JPY","PHP","GBP","SGD","MXN","EUR","BRL"]},"date_range":{"type":"string","description":"Date range. Accepts named ranges (lastDay, last7Day, last30Day, last60Day, last90Day, last180Day, last365Day), a natural date range in `yyyy-MM-dd~yyyy-MM-dd` form, or a natural month `yyyy-MM`. Some endpoints restrict this set — see the per-endpoint description.","example":"last7Day"},"brand_id":{"type":"string","description":"Brand ID","example":"375919382640040989"},"category_ids":{"type":"array","description":"Optional category IDs used to scope attributed brand metrics","example":["12345"],"items":{"type":"string","description":"Optional category IDs used to scope attributed brand metrics","example":"[\"12345\"]"}},"sort_field":{"$ref":"#/components/schemas/SortFieldReq"},"page_size":{"type":"integer","description":"Page size, default 10, maximum 100,minimum 5","format":"int32","example":10},"page_number":{"type":"integer","description":"Page number, starting at 1. Default 1.","format":"int32","example":1},"video_count_range":{"type":"string","description":"Brand-attributed creator video-count range","example":"5-100"},"avg_video_views_range":{"type":"string","description":"Brand-attributed creator average video-view range","example":"1000-100000"}}},"BrandCreatorListOpenApiRes":{"type":"object","properties":{"creator_id":{"type":"string","description":"Creator ID (TikTok uid)"},"creator_handle":{"type":"string","description":"Creator handle"},"creator_nickname":{"type":"string","description":"Creator display nickname"},"creator_followers":{"type":"integer","description":"Creator follower count","format":"int64"},"revenue":{"type":"number","description":"Revenue (GMV) the creator drove for the brand over the selected date range, in the request `currency`","format":"double"},"sales_volumn":{"type":"integer","description":"Number of brand items the creator sold over the selected date range","format":"int64"},"product_ids":{"type":"array","description":"IDs of the creator's top-3 brand products by revenue (GMV) over the selected date range, ordered highest revenue first","items":{"type":"string","description":"IDs of the creator's top-3 brand products by revenue (GMV) over the selected date range, ordered highest revenue first"}}}},"ResultListBrandCreatorListOpenApiRes":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/BrandCreatorListOpenApiRes"}},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"ShopeeTopicOpportunityOpenApiReq":{"required":["currency","date_range","language","region","topic_id"],"type":"object","properties":{"region":{"type":"string","description":"Data country code, e.g. US, BR, MX, ID, JP, MY, PH, SG, TH, VN, GB, ES, DE, FR, IT.","example":"US","enum":["US","BR","MX","ID","JP","MY","PH","SG","TH","VN","GB","ES","DE","FR","IT"]},"language":{"type":"string","description":"Language for text fields in the response. Currently supports zh-CN, en-US, id-ID, th-TH, vi-VN, es-ES, ja-JP, pt-BR, ko-KR, fr-FR.","example":"en-US","enum":["zh-CN","en-US","id-ID","th-TH","vi-VN","es-ES","ja-JP","pt-BR","ko-KR","fr-FR"]},"currency":{"type":"string","description":"Currency unit for revenue and price fields. Currently supports CNY, USD, IDR, VND, THB, MYR, JPY, PHP, GBP, SGD, MXN, EUR, BRL.","example":"USD","enum":["CNY","USD","IDR","VND","THB","MYR","JPY","PHP","GBP","SGD","MXN","EUR","BRL"]},"date_range":{"type":"string","description":"Date range. Accepts named ranges (lastDay, last7Day, last30Day, last60Day, last90Day, last180Day, last365Day), a natural date range in `yyyy-MM-dd~yyyy-MM-dd` form, or a natural month `yyyy-MM`. Some endpoints restrict this set — see the per-endpoint description.","example":"last7Day"},"topic_id":{"type":"string","description":"话题 id"},"page_no":{"type":"integer","description":"页码，从 1 开始","format":"int32","example":1}},"description":"Shopee 话题机会词请求。topic_id 必填。内部分页每页固定 20 条。"},"OpportunityRow":{"type":"object","properties":{"serial_number":{"type":"integer","description":"序号","format":"int32"},"keyword":{"type":"string"},"keyword_zh":{"type":"string","description":"关键词（中文）"},"user_need":{"type":"string"}},"description":"机会词行"},"ResultShopeeTopicOpportunityOpenApiRes":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/ShopeeTopicOpportunityOpenApiRes"},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"ShopeeTopicOpportunityOpenApiRes":{"type":"object","properties":{"market_insight":{"type":"string","description":"选词逻辑/市场洞察文案"},"opportunitys":{"type":"array","description":"机会词行列表","items":{"$ref":"#/components/schemas/OpportunityRow"}}},"description":"Shopee 话题机会词详情"},"ShopeeTopicListOpenApiReq":{"required":["currency","date_range","language","region"],"type":"object","properties":{"region":{"type":"string","description":"Data country code, e.g. US, BR, MX, ID, JP, MY, PH, SG, TH, VN, GB, ES, DE, FR, IT.","example":"US","enum":["US","BR","MX","ID","JP","MY","PH","SG","TH","VN","GB","ES","DE","FR","IT"]},"language":{"type":"string","description":"Language for text fields in the response. Currently supports zh-CN, en-US, id-ID, th-TH, vi-VN, es-ES, ja-JP, pt-BR, ko-KR, fr-FR.","example":"en-US","enum":["zh-CN","en-US","id-ID","th-TH","vi-VN","es-ES","ja-JP","pt-BR","ko-KR","fr-FR"]},"currency":{"type":"string","description":"Currency unit for revenue and price fields. Currently supports CNY, USD, IDR, VND, THB, MYR, JPY, PHP, GBP, SGD, MXN, EUR, BRL.","example":"USD","enum":["CNY","USD","IDR","VND","THB","MYR","JPY","PHP","GBP","SGD","MXN","EUR","BRL"]},"date_range":{"type":"string","description":"Date range. Accepts named ranges (lastDay, last7Day, last30Day, last60Day, last90Day, last180Day, last365Day), a natural date range in `yyyy-MM-dd~yyyy-MM-dd` form, or a natural month `yyyy-MM`. Some endpoints restrict this set — see the per-endpoint description.","example":"last7Day"},"topic_id":{"type":"string","description":"话题 id 筛选（可选）"},"page_no":{"type":"integer","description":"页码，从 1 开始","format":"int32","example":1},"page_size":{"type":"integer","description":"每页条数，允许：5、10、20","format":"int32","example":10}},"description":"Shopee 话题列表请求。date_range 为必填用于鉴权/上下文；话题数据使用平台历史分区。page_size 仅支持：5、10、20。"},"OpportunityItem":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"keyword":{"type":"string"},"keyword_zh":{"type":"string","description":"关键词（中文）"},"user_need":{"type":"string"},"searches_7d":{"$ref":"#/components/schemas/SearchValueItem"},"searches_30d":{"$ref":"#/components/schemas/SearchValueItem"}},"description":"话题下机会词项"},"PageShopeeTopicListOpenApiRes":{"type":"object","properties":{"pageNo":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"start":{"type":"integer","format":"int32"},"hasNext":{"type":"boolean"},"total":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ShopeeTopicListOpenApiRes"}}}},"ResultPageShopeeTopicListOpenApiRes":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/PageShopeeTopicListOpenApiRes"},"message":{"type":"string"},"debug":{"type":"object"},"cached":{"type":"boolean"},"code":{"type":"string"}}},"SearchValueItem":{"type":"object","properties":{"value":{"type":"object"},"change_pct":{"type":"number","format":"double"}},"description":"搜索量及变化率"},"ShopeeTopicListOpenApiRes":{"type":"object","properties":{"topic_id":{"type":"string","description":"话题 id"},"topic_name":{"type":"string","description":"话题名称"},"topic_zh":{"type":"string","description":"话题名称（中文）"},"source":{"type":"string","description":"数据来源"},"trend_points":{"type":"array","description":"24 小时趋势点","items":{"$ref":"#/components/schemas/TrendPointItem"}},"items":{"type":"array","description":"该话题下的机会词项","items":{"$ref":"#/components/schemas/OpportunityItem"}}},"description":"Shopee 话题列表单条记录"},"TrendPointItem":{"type":"object","properties":{"search_num":{"type":"integer","description":"该时段搜索量","format":"int64"},"start":{"type":"string","description":"时段开始"},"status":{"type":"integer","description":"状态","format":"int32"},"holiday":{"type":"string","description":"节假日标签"}},"description":"趋势点"},"ShopeeShopBatchOpenApiReq":{"required":["currency","date_range","language","region","shop_ids"],"type":"object","properties":{"region":{"type":"string","description":"Data country code, e.g. US, BR, MX, ID, JP, MY, PH, SG, TH, VN, GB, ES, DE, FR, IT.","example":"US","enum":["US","BR","MX","ID","JP","MY","PH","SG","TH","VN","GB","ES","DE","FR","IT"]},"language":{"type":"string","description":"Language for text fields in the response. Currently supports zh-CN, en-US, id-ID, th-TH, vi-VN, es-ES, ja-JP, pt-BR, ko-KR, fr-FR.","example":"en-U
[...]
